
.footer {
    display: flex;
    flex: 1;
    padding: 2rem;
    min-height: 150px;
    background-color: var(--main-blue-color);
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(148, 148, 151);
  }
  
  .footer button {
    color: rgb(42, 42, 110);
    background-color: transparent;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    font-weight: 600;
    border: none;
  }
  
  .footer button:hover {
    cursor: pointer;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
  }
  
  .footer nav {
    color: #4069ab;
  }
  
  .footer svg {
    margin: 5px;
    font-size: 2rem;
    color: #4069ab;
  
  }
  
  .footer svg:hover {
    cursor: pointer
  }
  