
.header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    top: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
    color: rgb(36, 18, 116);
  }
  @media only screen and (max-width: 700px) {
  
    .header a:hover {
      text-decoration: none;
      
    }
  }
  .header a {
    text-decoration: none;
    font-style: none;
    padding: 5px;
    color: rgb(36, 18, 116);
    margin: 0px 10px;
  }
  
  .header a:hover {
    color: rgb(36, 36, 36);
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.192);
  }
  