.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textcontainer {
    margin: 0px 30px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .textcontainer {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
    }

    .textcontainer p {
        padding: 1rem;
        width: 100%;
    }

}

.textcontainer p {
    padding: 1rem;
    flex: 1;
}

.container button {
    color: rgb(42, 42, 110);
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    border: 2px solid rgb(38, 38, 126);
}

.container button:hover {
    cursor: pointer
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.icon svg {
    font-size: 3rem;
}


.cardarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 2rem;

}

@media only screen and (max-width: 700px) {
    .cardarea {
        display: flex;
        flex-direction: column;
    }

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 340px;
    flex-grow: 1;
    background-color: #4069ab;
    color: white;
}

.card h2 {
    font-size: 2rem;
    margin: 0px;
}

.card p {
    text-align: center;
}